.body2 {
    height: 2000px;
    background: transparent;
    z-index:1;
    margin:-8px;
  }
.scene {
  position: absolute;
  width: 100%;
  transform: translateY(var(--translateY));
  will-change: transform;
}
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 32%;
  padding: 10px;
  margin:5px;
  background-color:transparent;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  background-color:transparent;
  top:300px;
}
.makewhite{
    color:white;
}
.maketransparent {
    background-color:transparent;
    margin-top:-650px;
    position:relative;
    z-index:200000;
}

.topper{
    z-index:200000;
}
